<!DOCTYPE html>
<html lang="en">
  <%- include('templates/head'); -%>
  <body class="d-flex h-100 text-center text-white">
    <%- include('templates/header', {pageName: 'home'}); -%>
    <main class="w-100">
      <div class="message-list-container">
        <%if (messages.length) { %> <% for (let message of messages) { %>
        <div class="card bg-dark my-2 card-message">
          <div class="card-body">
            <% if (!user) { %>
            <p class="text-start">You have to login to see the message!</p>
            <% } else { %>
            <p class="text-start"><%= message.text %></p>
            <% } %>
          </div>
          <div
            class="px-3 pb-3 pt-2 d-flex justify-content-between align-items-center"
          >
            <p class="text-start text-muted"><%=message.author.username%></p>
            <div>
              <span class="text-end text-small text-muted fw-light"
                ><%=message.createdAtFormatted%></span
              >
              <%if(user && user.isAdmin) { %>
              <form
                action="/messages/<%=message.id%>/delete"
                method="POST"
                style="display: inline"
              >
                <button class="btn btn-small btn-outline-danger">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-trash"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                    />
                  </svg>
                </button>
              </form>
              <%} %>
            </div>
          </div>
        </div>
        <% } %> <% } %>
      </div>
      <%if (user) { %>
      <div class="message-form-container px-5 py-2">
        <form
          action="/messages/create"
          method="POST"
          class="mx-auto"
          style="max-width: 475px"
        >
          <div class="input-group">
            <input
              type="text"
              name="text"
              id="text"
              placeholder="Enter your message"
              class="form-control"
              required
            />
            <input type="hidden" name="author" value="<%=user.id%>" />
            <button type="submit" class="btn btn-send btn-submit-form">
              Send
            </button>
          </div>
          <% } %>
        </form>
      </div>
    </main>
    <%- include('templates/footer'); -%>
  </body>
</html>
